@import '~@avenueeco/design-system/src/base';
@import '~@avenueeco/design-system/src/bridge/nav';

.ac-tab-selector {
  .nav-item {
    min-width: ($spacer * 24);
  }

  &.nav-tabs-expand {
    .nav-item {
      min-width: 85px;
      .nav-link {
        width: auto;
      }
    }
  }
}
