@import '~@avenueeco/design-system/src/base';
.ac-header {
  &-title {
    display: flex;
    align-items: center;
    height: 64px;
    margin-left: 16px;

    &-logo {
      height: 140px;
    }

    &-text {
      display: table-caption;
      margin-left: 4px;
      font-size: 10px;
      font-style: normal;
      font-weight: 900;
      line-height: 10px;
      color: $brand-blue-darker;
    }
  }
  &-division {
    height: 1px;
    background: $urban-gray-light;
  }
}

.ac-header-item {
  margin: 16px 0;

  &-menu {
    margin-right: 32px;
  }

  &-notification {
    margin-right: 16px;
  }

  &-profile {
    margin-right: 16px;
  }

  &-action {
    margin-right: 16px;
  }
}
