@import '~@ac-ui/design-system/src/base';

.ac-profile-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 32px;
  padding: 0 4px;
  overflow: hidden;
  background: #f3f3f3; // map-get($colors, 'urban-gray-lighter')
  border-radius: 8px;

  &__logo {
    width: 64px;
    height: 32px;
    margin: 4px 0;
  }

  &__picture {
    width: 24px;
    height: 24px;
    margin: 4px;
    object-fit: contain;
  }
}
