@import '~@avenueeco/design-system/src/base';

.ac-profile-badge {
  &__logo {
    width: 64px;
    height: 32px;
    margin: 4px 0;
  }

  &__picture {
    width: 32px;
    height: 32px;
    margin: 4px;
    object-fit: contain;
  }
}
